sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .layer { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	border-style: none;
	height: 66em;
	width: 51em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_02 {
	position: relative;
}
.stl_03 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_04 {
	position: relative;
	width: 51em;
}
.stl_05 {
	height: 6.6em;
}
.ie .stl_05 {
	height: 66em;
}
@font-face {
	font-family:"HHSIPQ+NimbusSans-Regular";
	src:url("a96e162e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_06 {
	color: #3A3A3A;
	font-size: 2.3125em;
	font-family: "HHSIPQ+NimbusSans-Regular";
}
.stl_07 {
	line-height: 0.670898em;
}
.stl_08 {
	letter-spacing: -0.0002em;
}

.ie .stl_08 {
	letter-spacing: -0.0061px;
}
.stl_09 {
	color: #777777;
	font-size: 1em;
	font-family: "HHSIPQ+NimbusSans-Regular";
}
.stl_10 {
	letter-spacing: -0.0005em;
}

.ie .stl_10 {
	letter-spacing: -0.0078px;
}
.stl_11 {
	letter-spacing: 0em;
}

.ie .stl_11 {
	letter-spacing: 0px;
}
.stl_12 {
	color: #777777;
	font-size: 0.8125em;
	font-family: "HHSIPQ+NimbusSans-Regular";
}
.stl_13 {
	letter-spacing: -0.0088em;
}

.ie .stl_13 {
	letter-spacing: -0.115px;
}
.stl_14 {
	letter-spacing: 0.0018em;
}

.ie .stl_14 {
	letter-spacing: 0.0238px;
}
.stl_15 {
	letter-spacing: 0.0012em;
}

.ie .stl_15 {
	letter-spacing: 0.0156px;
}
.stl_16 {
	color: #333333;
	font-size: 0.8125em;
	font-family: "HHSIPQ+NimbusSans-Regular";
}
.stl_17 {
	letter-spacing: -0.0007em;
}

.ie .stl_17 {
	letter-spacing: -0.0096px;
}
.stl_18 {
	letter-spacing: -0.0009em;
}

.ie .stl_18 {
	letter-spacing: -0.0112px;
}
@font-face {
	font-family:"FBVERJ+NimbusSans-Bold";
	src:url("4fa27a01-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	color: #333333;
	font-size: 0.8125em;
	font-family: "FBVERJ+NimbusSans-Bold";
}
.stl_20 {
	line-height: 0.672363em;
}
.stl_21 {
	letter-spacing: -0.0006em;
}

.ie .stl_21 {
	letter-spacing: -0.0081px;
}
.stl_22 {
	letter-spacing: 0.0041em;
}

.ie .stl_22 {
	letter-spacing: 0.0534px;
}
.stl_23 {
	letter-spacing: -0.0016em;
}

.ie .stl_23 {
	letter-spacing: -0.0202px;
}
.stl_24 {
	color: #333333;
	font-size: 0.9375em;
	font-family: "FBVERJ+NimbusSans-Bold";
}
.stl_25 {
	letter-spacing: -0.0075em;
}

.ie .stl_25 {
	letter-spacing: -0.1124px;
}
.stl_26 {
	letter-spacing: -0.0008em;
}

.ie .stl_26 {
	letter-spacing: -0.0124px;
}
.stl_27 {
	color: #FFFFFF;
	font-size: 0.8125em;
	font-family: "HHSIPQ+NimbusSans-Regular";
}
.stl_28 {
	letter-spacing: -0.0004em;
}

.ie .stl_28 {
	letter-spacing: -0.0054px;
}
.stl_29 {
	letter-spacing: 0.0015em;
}

.ie .stl_29 {
	letter-spacing: 0.0198px;
}
.stl_30 {
	letter-spacing: 0.0006em;
}

.ie .stl_30 {
	letter-spacing: 0.008px;
}
.stl_31 {
	letter-spacing: 0.0026em;
}

.ie .stl_31 {
	letter-spacing: 0.0342px;
}
